html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

@font-face {
    font-family: "TT Lakes";
    src: url(font/TTLakes-ExtraBold.woff);
}

@font-face {
    font-family: "TT Lakes";
    src: url(font/TTLakes-Bold.woff);
}

@font-face {
    font-family: "TT Lakes";
    src: url(font/TTLakes-Regular.woff)
}

body{
    width: 320px;
    height: 1024px;
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 16px 0px 52px 0 rgba(14, 24, 80, 0.2);
}

.highlight {
    display: none;
    width: 4px;
    height: 24px;
    background-image: url(icons2/highlight\ \(1\).svg);
    margin-left: auto;
}

/* Верхние кнопки */
.top-container{
    display: flex;
    justify-content: space-between;
}

.top-container__burger {
    background: url(icons2/burger.svg) no-repeat;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    margin-left: 10px;
    margin-top: 10px;
}

.logo {
    transform: translateX(-50px);
    margin-left: 20px;
    margin-top: 10px;
}

.top-container__search {
    background: url(icons2/search.svg) no-repeat;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    margin-right: 20px;
    margin-top: 10px;
    
}

.top-container__burger:hover {
    cursor: pointer;
    opacity: 0.8;
    transition-property: opacity;
    transition-duration: 300ms;
}

.top-container__search:hover {
    cursor: pointer;
    opacity: 0.8;
    transition-property: opacity;
    transition-duration: 300ms;
}

/* Список меню */

.main-menu {
    margin-left: -20px;
    margin-top: 40px;
    list-style: none;
}

.main-menu a {
    text-decoration: none;
    color: rgba(27, 28, 33, 1);
}

.main-menu li {
    margin: 0;
    padding: 0;
    display: block;
    padding: 17px 5px; 
    font-family: 'TT Lakes', sans-serif;
}

.main-menu li:hover {
    opacity: 0.5;
    transition-property: opacity;
    transition-duration: 300ms;
    .highlight {
        display: inline-block;
    }
}

/* Общий футтер */
.footer{
    width: 196px;
    height: 124px;
    margin-left: 30px;
    margin-top: 250px;
}

.down-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.links {
    display: flex;
    flex-direction: column;
}

/* Нижние кнопки */
.down-container__chat-copy { 
    background: url(icons2/chat\ copy.svg) no-repeat;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    margin-right: 10px;
}

.down-container__chat { 
    background: url(icons2/chat.svg) no-repeat;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    margin-right: 10px;
}

.down-container__profile { 
    background: url(icons2/profile.svg) no-repeat;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}

.down-container__chat-copy:hover {
    cursor: pointer;
    opacity: 0.8;
    transition-property: opacity;
    transition-duration: 300ms;
}

.down-container__chat:hover {
    cursor: pointer;
    opacity: 0.8;
    transition-property: opacity;
    transition-duration: 300ms;
}

.down-container__profile:hover {
    cursor: pointer;
    opacity: 0.8;
    transition-property: opacity;
    transition-duration: 300ms;
}

/* Ссылки */
.links a {
    font-family: 'TT Lakes' sans-serif;
    text-decoration: none;
    color: black;
}

.links__mail {
    width: 106px;
    height: 24px;
    top: 860px;
    left: 24px;
    font-family: TT Lakes;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-bottom: 10px;
}

.links__number {
    width: 196px;
    height: 32px;
    top: 896px;
    left: 24px;
    font-family: TT Lakes;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;

}

.links a:hover {
    opacity: 0.5;
    transition-property: opacity;
    transition-duration: 300ms;
}

/* Языки страницы */
.lang {
    display: block;
    margin-left: 30px;
    margin-top: 40px; 
}

.lang a {
    text-decoration: none;
    color: black;
    font-family: TT Lakes;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.lang a:hover {
    opacity: 0.5;
    transition-property: opacity;
    transition-duration: 300ms;
}